[phases.setup]
nixPkgs = ['nodejs', 'npm']

[phases.install]
cmds = ['npm install']

[phases.build]
cmds = ['echo "No build step needed"']

[start]
cmd = 'npm start'

[variables]
NODE_ENV = 'production'
